<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration package="de.sonnmatt.muutos.server" status="trace">
	<appenders>
		<JDBC name="databaseAppender" tableName="logging">
			<ConnectionFactory class="de.sonnmatt.muutos.ConnectionFactory" method="getDatabaseConnection" />
			<Column name="EVENT_DATE" isEventTimestamp="true" />
			<Column name="LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="MSG" pattern="%message" />
			<Column name="THROWABLE" pattern="%ex{full}" />
		</JDBC>
		<JDBC name="databaseClientLog" tableName="clientLogging">
			<ConnectionFactory class="de.sonnmatt.muutos.ConnectionFactory" method="getDatabaseConnection" />
			<Column name="EventDate" pattern="%X{client.datetime}" />
			<Column name="SessionID" pattern="%X{client.sessionid}" />
			<Column name="ClassName" pattern="%X{client.sourceclassname}" />
			<Column name="MethodName" pattern="%X{client.sourcemethodname}" />
			<Column name="Level" pattern="%level" />
			<Column name="Logger" pattern="%X{client.loggername}" />
			<Column name="Msg" pattern="%message" />
			<Column name="Throwable" pattern="%ex{full}" />
		</JDBC>
		<JDBC name="DBUserLogin" tableName="Muutos_UserLogins">
			<ConnectionFactory class="de.sonnmatt.muutos.ConnectionFactory" method="getDatabaseConnection" />
			<Column name="EventDate" isEventTimestamp="true" />
			<Column name="SessionID" pattern="%X{user.sessionid}" />
			<Column name="TenantID" pattern="%X{user.tenantid}" />
			<Column name="UserID" pattern="%X{user.userid}" />
			<Column name="Login" pattern="%X{user.login}" />
			<Column name="Message" pattern="%.1000message" />
		</JDBC>
		<!-- File Appender -->
		<File name="File" fileName="c:/temp/muutos.log">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} %-5level %-36logger{36} - %msg%n" />
		</File>
		<File name="LoginFile" fileName="c:/temp/muutos_login.log">
			<PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%-5level] %replace{%-15logger{1}}{ }{.} - %-32X{user.sessionid} - %X{user.userid} / %X{user.login} - %msg%n" />
		</File>
	</appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="databaseAppender" />
			<AppenderRef ref="File" />
		</Root>

		<logger name="HibernateUtil.class">
			<AppenderRef ref="File" />
		</logger>

		<logger name="clientLog" additivity="false" level="trace">
			<AppenderRef ref="databaseClientLog" />
		</logger>

		<logger name="UserLogin" additivity="false" level="All">
			<AppenderRef ref="DBUserLogin" />
			<AppenderRef ref="LoginFile" />
		</logger>

		<logger name="org.hibernate" level="info" />
		<Logger name="org.hibernate.SQL" level="info" />
		<Logger name="org.hibernate.type.descriptor.sql" level="info" />
		<Logger name="org.hibernate.tool.hbm2ddl" level="info" />
	</Loggers>
</Configuration>